:root {
  font-family: "VT323", monospace;
  font-weight: 400;
  --primary-color: #ffd52c;
  --secondary-color: #ff5c00;
  --tertiary-color: #c72d04;
  --background-color: #111;
  scrollbar-color: var(--primary-color) var(--secondary-color);
  font-size: clamp(18px, 3vw, 30px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

div.retro-container {
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
}

header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer {
  display: flex;
  align-items: flex-end;
}

main {
  overflow: hidden;
}

section {
  height: 100%;
  overflow: hidden auto;
  margin: 1rem 0;
}

@keyframes crtAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 10000%;
  }
}

#screen-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.old-crt-monitor {
  box-shadow: inset 0px 0px 2rem;
  background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
  animation: crtAnimation 100s linear infinite;
  background-size: 100% 80%;
}

button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

button:active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

textarea,
input {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

textarea:focus,
input:focus {
  outline: 2px solid var(--secondary-color);
}

.title {
  justify-content: center;
  flex-direction: column;
  gap: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 10rem;
}
